<EditForm Model="@race" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <p>
        <MatTextField Label="Name" @bind-Value="@race.Name" FullWidth="true" ValidationDisabled="true" />
    </p>
    <p>
        <MatNumericUpDownField Label="Team Size" @bind-Value="@race.FantasyTeamSize" FullWidth="true" ValidationDisabled="true" />
    </p>
    <div>
        <MatButton Type="submit">@ButtonText</MatButton>
    </div>
</EditForm>

@code {
    [Parameter] public Race race { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
